<!DOCTYPE html>
<html>
    <head>
        <title>UC Apps Migration</title>
        <link rel="stylesheet" href="/css/style.css" />
		    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/sliding.form.js"></script>
    </head>
    <style>
        span.reference{
            position:fixed;
            left:5px;
            top:5px;
            font-size:10px;
            text-shadow:1px 1px 1px #fff;
        }
        span.reference a{
            color:#555;
            text-decoration:none;
			      text-transform:uppercase;
        }
        span.reference a:hover{
            color:#000;

        }
        h1{
            color:#ccc;
            font-size:36px;
            text-shadow:1px 1px 1px #fff;
            padding:20px;
        }
    </style>
    <body>

        <div id="content">
            <h1>UC Apps Migration</h1>
            <div id="wrapper">
                <div id="navigation" style="display:none;">
                    <ul>
                      {{range .}}
                        {{$appID := idCounter2}}
                        <li id="remove{{$appID}}_link">
                            <a href="#">{{print $appID}}</a>
                        </li>
                      {{end}}
                       <li>
                          <a href="#">Migrate</a>
                       </li>
                    </ul>
                </div>
                <div id="steps">
                    <form id="formElem" name="formElem" action="/index" method="post">
                      {{range .}}
                        {{$appID := idCounter}}
                        {{$id := (index . $appID)}}

                        <!-- getting source and target from the 1st app -->
                        {{$src := (index . "source")}}
                        {{$tar := (index . "target")}}
                        {{if .source }}
                        <div style="display:none;">
                          <input id="username" name="source" value="{{ $src }}"/>
                          <input id="username" name="target" value="{{ $tar }}"/>
                        </div>
                        {{else}}
                          {{print ""}}
                        {{end}}

                        <fieldset class="step" id="remove{{$appID}}">
                            {{$newID := (index . "newID")}}
                            <legend>{{print $newID}}<img src="/images/delete.png" onclick="delete_view('remove{{$appID}}')" alt="Submit" style="width:20px;height:20px;float:right;margin-right:20px;" /></legend>
                              <!--the app inside a map -->
                              {{ range $key, $value := . }}
                                {{if eq $key "source"}}
                                  {{print ""}}
                                {{else}}{{if eq $key "target"}}
                                  {{print ""}}
                                {{else}}{{if eq $key $appID}}
                                    <div style="display:none;">
                                      <!-- the src env id is put here so that we can match it with newly fetch src env and replace with new env values-->
                                      <input id="username" name="{{ print $key }}" value="{{ $value }}"/>
                                    </div>
                                {{else}}
                                <div>
                                  <p>
                                    <label for="fill">{{ $key }}</label>
                                    <input id="fill" name="{{ print $id $key }}" type="text" value="{{ $value }}" AUTOCOMPLETE=OFF />
                                  </p>
                                </div>
                                {{end}}{{end}}{{end}}
                              {{ end }}
                        </fieldset>
                      {{end}}

                        <fieldset class="step">
                            <legend>Migrate UC Apps</legend>
                            <p class="submit">
                                <button id="registerButton" type="submit">Migrate</button>
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
  		function delete_view(id)
  		{
  			var view = document.getElementById(id);
  			view.remove();
  			var view = document.getElementById(id+"_link");
  			view.remove();
  		}
	 </script>
</html>
